<div class="post-button-wrapper">
  <button (click)="postArticle()" [disabled]="!canPostArticle()" mat-raised-button>Post article</button>
</div>
<div class="panes-wrapper">
  <div class="pane" id="article-editor">
    <h1>
      <div>Editor</div>
    </h1>
    <div class="pane-content">
      <mat-form-field appearance="outline" class="article-title-form-field">
        <mat-label>Title of the article</mat-label>
        <input [(ngModel)]="articleTitle" matInput type="text">
      </mat-form-field>

      <div class="sections-container">
        @for (section of sections; track section; let index = $index) {
          <div class="section">
            <div class="section-controls">
              <button mat-icon-button class="clickable" (click)="moveSectionUp(index)" [disabled]="index === 0">
                <mat-icon>arrow_upward</mat-icon>
              </button>
              <button mat-icon-button class="clickable" (click)="moveSectionDown(index)"
                      [disabled]="index == sections.length - 1">
                <mat-icon>arrow_downward</mat-icon>
              </button>
              <button mat-icon-button class="clickable" (click)="deleteSection(index)">
                <mat-icon>close</mat-icon>
              </button>
            </div>
            <div class="section-content">
              @if (section.sectionType === 'TEXT') {
                <mat-form-field appearance="outline" class="article-text-form-field">
                  <mat-label>Article section</mat-label>
                  <textarea [(ngModel)]="section.text" matInput></textarea>
                </mat-form-field>
              } @else {
                <div class="image-section">
                  <img style="height: 100px;" [src]="'data:image/png;base64,' + section.imageBase64"/>
                  image: {{ section.imageTitle }}
                </div>
              }
              <div class="section-adding-buttons">
                <div (click)="addTextSection(index)" class="add-section-button clickable">
                  <img src="/assets/add_FILL0_wght400_GRAD0_opsz24.svg">
                  <img src="/assets/notes_FILL0_wght400_GRAD0_opsz24.svg">
                </div>
                <input #fileUpload (change)="uploadImage($event, index)"
                       accept="image/*" class="file-input" type="file">
                <div (click)="fileUpload.click()" class="add-section-button clickable">
                  <img src="/assets/add_FILL0_wght400_GRAD0_opsz24.svg">
                  <img src="/assets/image_FILL0_wght400_GRAD0_opsz24.svg">
                </div>
              </div>
            </div>
          </div>
        }
      </div>

    </div>
  </div>
  <div class="pane" id="article-preview">
    <h1>Preview</h1>
    <div class="pane-content">
      <div>
        <div class="title">
          <h1>{{ articleTitle }}</h1>
        </div>
        <app-author [articleHeader]="getArticleHeader()" [isLikeDislikeDisabled]="true"></app-author>
      </div>
      <div>
        @for (section of sections; track section; let index = $index) {
          @if (section.sectionType === 'TEXT') {
            <div [innerHTML]="section.text" class="preview-text"></div>
          } @else {
            <img [src]="'data:image/png;base64,' + section.imageBase64"/>
            <div class="image-title">{{ section.imageTitle }}</div>
          }
        }
      </div>
    </div>
  </div>

</div>
