<div class="post-button-wrapper">
  <button (click)="postArticle()" [disabled]="!canPostArticle()" mat-raised-button>Post article</button>
</div>
<div class="panes-wrapper">
  <div class="pane" id="article-editor">
    <h1>Editor</h1>
    <div class="pane-content">
      <mat-form-field appearance="outline" class="article-title-form-field">
        <mat-label>Title of the article</mat-label>
        <input [(ngModel)]="articleTitle" matInput type="text">
      </mat-form-field>

      <mat-form-field appearance="outline" class="article-text-form-field">
        <mat-label>Textarea</mat-label>
        <textarea [(ngModel)]="articleText" matInput></textarea>
      </mat-form-field>

    </div>
  </div>
  <div class="pane" id="article-preview">
    <h1>Preview</h1>
    <div class="pane-content">
      <div>
        <div class="title">
          <h1>{{ articleTitle }}</h1>
        </div>
        <!--      <app-author [article]="article"></app-author>-->
      </div>
      <div [innerHTML]="articleText" class="preview-text">
      </div>
    </div>
  </div>

</div>
