:host {
  width: 100%;
  height: calc(100vh - 150px);
}


.panes-wrapper {
  display: flex;
  align-items: start;
  justify-content: center;


  & > div {
    margin: 10px;
    width: 40%
  }

  .pane {
    text-align: center;

    height: calc(100vh - 150px);
    max-width: 666px;

    //.pane-content {
    //  border: 1px solid silver;
    //  height: calc(100% - 50px);
    //}
  }

  #article-editor {

    h1 {
      display: flex;
      flex-direction: row;

      justify-content: space-between;
      align-items: center;

      .image-upload-div {
        margin-left: 20px;
      }

      #dummy-div {
        width: 136px;
      }
    }

    .article-title-form-field {
      width: calc(100% - 20px);
      margin-top: 10px;
    }
  }

  #article-preview {
    height: auto;
    min-height: calc(100vh - 150px);

    .pane-content {
      height: auto;
      min-height: calc(100vh - 200px);
    }

    margin-bottom: 100px;
  }

  .preview-text {
    text-align: start;
    padding-right: 20px;
  }
}


.post-button-wrapper {
  display: flex;
  width: 100%;
  justify-content: center;
  margin-top: 10px;
}

.file-input {
  display: none;
}

.add-section-button {
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #FFF2E1;
  padding: 5px;
  border-radius: 5px;
  margin: 5px;

  &:hover {
    filter: brightness(90%);
  }
}

.section-adding-buttons {
  display: flex;
  flex-direction: row;
}

.sections-container {
  display: flex;
  flex-direction: column;
}

.section {
  display: flex;
  flex-direction: row;

  .section-controls {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }


  .section-content {
    width: 100%;

    mat-form-field {
      width: calc(100% - 22px);

      textarea {
        min-height: 100px;
      }
    }

    .section-adding-buttons {
      display: flex;
      align-items: center;
      justify-content: center;

      button {
        margin: 5px;
      }
    }
  }
}

.image-title {
  width: 100%;
  display: flex;
  justify-content: center;
}

app-author {
  text-align: left;
}

.image-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 10px;

  img {
    margin-bottom: 10px;
  }
}
