:host {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.host {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;

  .article-part {
    width: 666px;

    img {
      max-width: 100%;
    }
  }

  .comments-part {
    width: 300px;
    margin-top: 90px;
    margin-left: 50px;

  }
}

.title {
  margin-top: 40px;
  text-align: center;
}


.article-and-comments-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: end;

  .article-text {
    font-size: 1.25em;
    line-height: 1.5em;
  }

}


.comment {
  margin: 10px;

  hr {
    border: none;
    border-bottom: 1px silver solid;

  }

  &-author {
    margin: 5px;
  }

  &-text {

  }

  .datetime {
    font-size: 0.9em;
    color: grey;
  }

}


.comments-button {
  display: flex;
  align-items: center;
  flex-direction: row;

  img {
    margin-left: 10px;
  }
}


.clicked {
  filter: invert(65%) sepia(58%) saturate(1360%) hue-rotate(359deg) brightness(100%) contrast(105%);
}

.comment-input {
  margin-top: 10px;

  mat-form-field {
    width: 100%;
  }

  .button-wrapper {
    margin-top: 10px;
    width: 100%;
    display: flex;
    justify-content: end;
  }
}

app-comment {
  display: flex;
  margin-left: 20px;
}

// clicked like or dislike button color: #FFAB00
