<div *ngIf="article" class="host">
  <div class="article-part">
    <div>
      <div class="title">
        <h1>{{ article.title }}</h1>
      </div>
      <div class="author">
        <div>
          {{ article.author.display_name }} - <span
          class="datetime">{{ ISOdateStringToLocaleDate(article.inserted_at) }}</span>
        </div>
        <div class="likes-dislikes">
          {{ article.upvotes }}
          <div (click)="toggleLikeArticle()" class="img-wrapper clickable">
            <img [class]="article.is_upvoted_by_current_user ? 'clicked' : ''"
                 src="/assets/thumb_up_FILL0_wght400_GRAD0_opsz24.svg">
          </div>

          {{ article.downvotes }}
          <div (click)="toggleDislikeArticle()" class="img-wrapper clickable">
            <img [class]="article.is_downvoted_by_current_user ? 'clicked' : ''" class="clickable"
                 src="/assets/thumb_down_FILL0_wght400_GRAD0_opsz24.svg">
          </div>

        </div>
      </div>
    </div>
    <div [innerHTML]="article.text" class="article-text"></div>
  </div>
  <div class="comments-part">
    <div class="comment-button-and-add-icon">
      <div (click)="toggleComments()" class="comments-button clickable">
        <div>Comments {{ article.comments.length }}</div>
        @if (areCommentsVisible) {
          <img src="/assets/visibility_off_FILL0_wght400_GRAD0_opsz24.svg">
        } @else {
          <img src="/assets/visibility_FILL0_wght400_GRAD0_opsz24.svg">
        }
      </div>
    </div>
    <div class="comment-input">
      <mat-form-field appearance="outline">
        <mat-label>your comment</mat-label>
        <textarea [(ngModel)]="commentInput" matInput
                  placeholder="your comment"></textarea>
        <div class="button-wrapper">
          <button (click)="sendComment()" [disabled]="commentInput === ''" mat-raised-button>Comment</button>
        </div>
      </mat-form-field>
    </div>
    @if (areCommentsVisible) {
      @for (comment of article.comments; track comment.id) {
        <div class="comment">
          <div class="comment-author">{{ comment.author.display_name }}
            <div
              class="datetime">{{ ISOdateStringToLocaleDate(comment.inserted_at) }}
            </div>
          </div>
          <div class="comment-text">{{ comment.text }}</div>
          <hr>
        </div>
      }
    }

  </div>


</div>
