<div *ngIf="article" class="host">
  <div class="article-part">
    <div>
      <div class="title">
        <h1>{{ article.title }}</h1>
      </div>
      <app-author (commentIconClicked)="toggleComments()" [article]="article"></app-author>
    </div>
    <div>
      @for (section of article.sections; track section; let index = $index) {
        @if (section.sectionType === 'TEXT') {
          <div [innerHTML]="section.text" class="preview-text"></div>
        } @else {
          <img [src]="'data:image/png;base64,' + section.imageBase64"/>
          <div class="image-title">{{ section.imageTitle }}</div>
        }
      }
    </div>
    <!--    <div [innerHTML]="article.text" class="article-text"></div>-->
  </div>
  <div class="comments-part">
    <div class="comment-button-and-add-icon">
      <div (click)="toggleComments()" class="comments-button clickable">
        <div>Comments {{ article.commentCount }}</div>
        @if (areCommentsVisible) {
          <img src="/assets/visibility_off_FILL0_wght400_GRAD0_opsz24.svg">
        } @else {
          <img src="/assets/visibility_FILL0_wght400_GRAD0_opsz24.svg">
        }
      </div>
    </div>
    <div class="comment-input">
      <mat-form-field appearance="outline">
        <mat-label>your comment</mat-label>
        <textarea [(ngModel)]="commentInput" [disabled]="user === null" matInput
                  placeholder="your comment"></textarea>
        <div class="button-wrapper">
          <button (click)="sendComment()" [disabled]="commentInput === ''" mat-raised-button>Comment</button>
        </div>
      </mat-form-field>
    </div>
    @if (areCommentsVisible) {
      @for (comment of article.comments; track comment.id) {
        <app-comment [comment]="comment" [user]="user" [article]="article"
        ></app-comment>
      }
    }
  </div>
</div>
