<div class="wrapper">
  <div class="close-icon-wrapper">
    <img class="clickable" src="/assets/close_FILL0_wght400_GRAD0_opsz24.svg" [mat-dialog-close]="">
  </div>
  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>Join Sandwriter to read articles and participate in discussions</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="input-wrapper">
        login:
        <input [(ngModel)]="login" type="text">
      </div>
      <div class="input-wrapper">
        display name:
        <input [(ngModel)]="displayName" type="text">
      </div>
      <div  class="input-wrapper">
        password:
        <input [(ngModel)]="password" type="password" >
      </div>

      <button mat-button (click)="submit()" [disabled]="!canSubmit()">Sign up</button>
      <div class="height-1em">
        @if(errorMessage !== ''){
        <span class="error">{{errorMessage}}</span>
        }
      </div>
    </mat-card-content>
  </mat-card>
</div>
