<!--<app-article></app-article>-->
<!--home component-->

<div class="overview">
  <div class="title">Sandwriter - article writing page for you!</div>
  <div class="subtitle">Read latest articles</div>

  <div id="lists">
    <div id="newest">
      <div class="list-title"> Latest articles</div>
      <hr>

      <app-article-list></app-article-list>
    </div>
    <div id="popular in last 24 hours">
      <div class="list-title">Popular in last 24 hours</div>
      <hr>
      <app-article-list></app-article-list>
    </div>
  </div>

</div>
