
.overview {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  margin-top: 60px;
  //height: 600px;

  .title {
    font-size: xx-large;
    color: black;
  }

  .subtitle {
    margin: 20px;
    font-size: large;
  }

  #lists {
    display: flex;
    flex-direction: row;

    & > div {
      margin: 20px;
    }

    .list-title {
      text-align: center;
      font-size: large;
    }
  }
}
