<div class="wrapper">
  <div class="side side-left">
    <div id="logo" class="clickable" (click)="router.navigate(['']);" >Sandwriter</div>
    <div id="search-bar">
      <input matInput placeholder="Search" class="search-icon" [(ngModel)]="searchedText" (keyup.enter)="search()">
    </div>
  </div>

  <div class="side side-right">
    <button mat-button>Articles</button>
    <div style="margin-left: 20px;"></div>
    @if(userData | async){
      <div>
        <img class="clickable" alt="create" height="24" ngSrc="/assets/account_circle_FILL0_wght400_GRAD0_opsz24.svg" width="24" (click)="goToAccountDetails()" />
      </div>
    }@else{
      <button mat-button (click)="openLoginDialog()">Log in</button>
      <button mat-button (click)="openSignupDialog()">Sign up</button>
    }
  </div>
</div>
