<div class="wrapper">
  <div class="side side-left">
    <!--    (click)="router.navigate(['']);" -->
    <a class="clickable" id="logo" mat-button routerLink="">Sandwriter</a>
    <div id="search-bar">
      <input (keyup.enter)="search()" [(ngModel)]="searchedText" class="search-icon" matInput placeholder="Search">
    </div>
  </div>
  <div class="side side-right">
    <a mat-button routerLink="articles/write">Write article</a>
    <a mat-button routerLink="articles">Articles</a>
    <div style="margin-left: 20px;"></div>
    @if (userData | async) {
      <app-menu></app-menu>
    } @else {
      <button mat-button (click)="openLoginDialog()">Log in</button>
      <button mat-button (click)="openSignupDialog()">Sign up</button>
    }
  </div>
</div>
