<div class="wrapper">
  <div class="side side-left">
    <div (click)="router.navigate(['']);" class="clickable" id="logo">Sandwriter</div>
    <div id="search-bar">
      <input (keyup.enter)="search()" [(ngModel)]="searchedText" class="search-icon" matInput placeholder="Search">
    </div>
  </div>

  <div class="side side-right">
    <button mat-button>Articles</button>
    <div style="margin-left: 20px;"></div>
    @if (userData | async) {
      <div>
        <!--        (click)="goToAccountDetails()" -->
        <app-menu></app-menu>
      </div>
    } @else {
      <button mat-button (click)="openLoginDialog()">Log in</button>
      <button mat-button (click)="openSignupDialog()">Sign up</button>
    }
  </div>
</div>
