@if (article) {
  <div>
    {{ article.author.displayName }} - <span
    class="datetime">{{ ISOdateStringToLocaleDate(article.insertedAt) }}</span>
  </div>
  <div class="likes-dislikes">
    {{ likes }}
    <button mat-icon-button (click)="toggleLikeArticle()"
            [disabled]="isLikeDislikeDisabled || !isUserLoggedIn()"
            [class]="isLikedByCurrentUser ? 'clicked' : ''"
    >
      <mat-icon class="material-symbols-outlined">thumb_up</mat-icon>
    </button>
    {{ dislikes }}
    <button mat-icon-button (click)="toggleDislikeArticle()"
            [disabled]="isLikeDislikeDisabled || !isUserLoggedIn()"
            [class]="isDislikedByCurrentUser ? 'clicked' : ''"
    >
      <mat-icon class="material-symbols-outlined">thumb_down</mat-icon>
    </button>

    <div class="comment-count">
      {{ article.commentCount }}
      <button mat-icon-button [disabled]="isCommentButtonDisabled" (click)="emitCommentIconClick()">
        <mat-icon class="material-symbols-outlined">comment</mat-icon>
      </button>
    </div>
  </div>

}

