:host {
  margin: 20px;
}

.likes-dislikes {
  display: flex;
  align-items: center;
}

.clicked {
  filter: invert(65%) sepia(58%) saturate(1360%) hue-rotate(359deg) brightness(100%) contrast(105%);
}

.datetime {
  font-size: 0.9em;
  color: grey;
}

.comment-count {
  display: flex;
  align-items: center;
  justify-content: center;

  mat-icon {
    margin-right: 10px;
    margin-left: 3px;
  }
}


button {
  //padding-left: 0px !important;
  margin-right: 10px;
}
