:host {
  margin: 20px;
}

.likes-dislikes {
  display: flex;
  align-items: center;

  img {
    margin-right: 10px;
    margin-left: 3px;
  }
}

.clicked {
  filter: invert(65%) sepia(58%) saturate(1360%) hue-rotate(359deg) brightness(100%) contrast(105%);
}

.datetime {
  font-size: 0.9em;
  color: grey;
}
