/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;
background-color: #FFF2E1;
}


.clickable{
  cursor: pointer;
}

input{
  -webkit-appearance: none;
  outline: none;
  box-shadow : none;
  border: 0;
}
